@model IEnumerable<KK.Cookbook.Models.DTO.RecipeDto>

@{
    ViewData["Title"] = "Рецепты";
}

<h1>RecipesList</h1>

<p>
    <a asp-controller="Recipe" asp-action="CreateNewRecipe">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceURL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
