@model IEnumerable<KitBook.Models.ViewModels.TypeViewModel>

@{
    ViewData["Title"] = "Блюда";
    string postAction = $"Post{Model.First().KindOfType}";
    string getAction = $"Get{Model.First().KindOfType}";
    string putAction = $"Put{Model.First().KindOfType}";
}

<h1>Разновидности категории "@Model.First().KindOfTypeTranslated"</h1>

<p>
    <a asp-action="@postAction">Добавить новый</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.ExistingIcon != null)
                    {
                        <div class="w-25">
                            @{ await Html.RenderPartialAsync("_ImagePartial", item.ExistingIcon);}
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="@putAction" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="@getAction" asp-route-id="@item.Id">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>
