@model IEnumerable<KitBook.Models.Database.Entities.Types.IngredientType>

@{
    ViewData["Title"] = "Блюда";
}

<h1>Типы ингредиентов</h1>

<p>
    <a asp-action="PostIngredientType">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="PutIngredientType" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="GetIngredientType" asp-route-id="@item.Id">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>
