@model IEnumerable<KitBook.Models.ViewModels.RecipeViewModel>

@{
    ViewData["Title"] = "Рецепты";
}

<h1>Рецепты</h1>
<br />
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="GetRecipe" asp-route-id="@item.Id">@item.Title</a>
                @if (item.Thumbnail != null)
                {
                    await Html.RenderPartialAsync("_ImagePartial", item.Thumbnail);
                }
            </td>
            <td>
                @item.CookingTimeMinutes минут
            </td>
            @if (item.CookingTypeIcon != null)
            {
                <td>
                    @{
                        await Html.RenderPartialAsync("_ImagePartial", item.CookingTypeIcon);
                    }
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CookingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishType)
            </td>
            <td>
                <a target="_blank" rel="noreferrer" class="btn btn-primary" href="@item.SourceURL">Источник</a>
            </td>
        </tr>
}
    </tbody>
</table>
