@model IEnumerable<KitBook.Models.DTO.RecipeDto>

@{
    ViewData["Title"] = "Рецепты";
}

<h1>Рецепты</h1>
<br />
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="GetRecipe" asp-route-id="@item.Id">@item.Title</a>
            </td>
            <td>
                @item.CookingTimeMinutes минут
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishType)
            </td>
            <td>
                <a target="_blank" rel="noreferrer" class="btn btn-primary" href="@item.SourceURL">Источник</a>
            </td>
        </tr>
}
    </tbody>
</table>
