@model IEnumerable<KitBook.Models.DTO.RecipeDto>

@{
    ViewData["Title"] = "Рецепты";
}

<h1>Список рецептов</h1>

<p>
    <a asp-action="PostRecipe">Добавить новый</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="GetRecipe" asp-route-id="@item.Id">@item.Title</a>
            </td>
            <td>
                Готовить @Html.DisplayFor(modelItem => item.CookingTimeMinutes) минут
            </td>
            <td>
                <a target="_blank" rel="noreferrer" class="btn btn-primary" href="@item.SourceURL">Источник</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishType)
            </td>
            <td>
                @item.Stages?.Count этапов
            </td>
            <td>
                <a asp-action="PutRecipe" asp-route-id="@item.Id">Редактировать</a>
            </td>
        </tr>
}
    </tbody>
</table>
