@model IEnumerable<KitBook.Models.DTO.RecipeDto>

@{
    ViewData["Title"] = "Рецепты";
}

<h1>Список рецептов</h1>

<p>
    <a asp-action="PostRecipe">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookingTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookingTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishTypeId)
            </th>
            <th>
                Шагов в рецепте
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingTimeMinutes) минут
            </td>
            <td>
                <a href="https://@item.SourceURL">Ссылка</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishType)
            </td>
            <td>
                @item.Stages?.Count
            </td>
            <td>
                <a asp-action="PutRecipe" asp-route-id="@item.Id">Редактировать</a><br />
                <a asp-action="GetRecipe" asp-route-id="@item.Id"> Подробнее </a><br />
                <a asp-controller="Recipe" asp-action="DeleteRecipe" asp-route-id="@item.Id"> DELETE (надо сделать вместо этого кнопку)</a>
            </td>
        </tr>
}
    </tbody>
</table>
