@model IEnumerable<KitBook.Models.ViewModels.RecipeViewModel>

@{
    ViewData["Title"] = "Живые традиции: Рецепты";
    var ModelList = Model.ToList();
}
<div class="container">
    <div class="card-columns">
        @for (int i = 0; i < ModelList.Count; i++)
        {
            var recipe = ModelList[i];
            <div class="p-3 card">
                <a asp-action="GetRecipe" asp-route-id="@recipe.Id">
                    @{ await Html.RenderPartialAsync("_ImageCardPartial", recipe.Thumbnail);}
                </a>
                <div class="card-body flex-column h-100">
                    <a class="disabled-link" asp-action="GetRecipe" asp-route-id="@recipe.Id">
                        <h5 class="btn-outline-primary card-header">@recipe.Title</h5>
                    </a>
                    <p class="card-text">
                        @{ RenderDescription(recipe.Description); }
                    </p>
                </div>
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        <a target="_blank" rel="noreferrer" href="@recipe.SourceURL">
                            <cite>Источник</cite>
                        </a>
                    </small>
                </footer>
            </div>
        }
    </div>
</div>

@functions{
    void RenderDescription(string description)
    {
        if (!string.IsNullOrEmpty(description))
        {
            @description.Split('.')[0]
        }
        else
        {
            <i>Описание не предоставлено</i>
        }
    }
}