@model KitBook.Models.DTO.RecipeDto

@{
    ViewData["Title"] = "Новый рецепт";
    var ID = Guid.NewGuid();
}

<h1>Создание нового рецепта</h1>

<h4>Информация</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostRecipe" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" readonly="readonly" style="font-style:italic" value="@ID" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookingTimeMinutes" class="control-label"></label>
                <input asp-for="CookingTimeMinutes" class="form-control" />
                <span asp-validation-for="CookingTimeMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceURL" class="control-label"></label>
                <input asp-for="SourceURL" class="form-control" />
                <span asp-validation-for="SourceURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookingTypeId" class="control-label"></label>
                <select asp-for="CookingTypeId" class="form-control" asp-items="ViewBag.CookingTypes"></select>
                <span asp-validation-for="CookingTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeTypeId" class="control-label"></label>
                <select asp-for="RecipeTypeId" class="form-control" asp-items="ViewBag.RecipeTypes"></select>
                <span asp-validation-for="RecipeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishTypeId" class="control-label"></label>
                <select asp-for="DishTypeId" class="form-control" asp-items="ViewBag.DishTypes"></select>
                <span asp-validation-for="DishTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stages" class="control-label">Шаги по приготовлению</label>
                @for (int i = 0; i < 2; i++)
                {
                    <div id="stage_@i">
                        <label asp-for="Stages[i].Index" class="control-label">Порядковый номер</label>
                        <input asp-for="Stages[i].Index" readonly="readonly" value="@i" class="form-control" />
                        <label asp-for="Stages[i].Description" class="control-label">Описание</label>
                        <textarea asp-for="Stages[i].Description" class="form-control"></textarea>
                        <label asp-for="Stages[i].Id" class="control-label" style="display:none"></label>
                        <input asp-for="Stages[i].Id" value="@Guid.NewGuid()" readonly="readonly" class="form-control" style="font-style:italic; display:none" />
                        <label asp-for="Stages[i].RecipeId" class="control-label" style="display:none"></label>
                        <input asp-for="Stages[i].RecipeId" value="@ID" readonly="readonly" class="form-control" style="font-style:italic; display:none" />
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label">Ингредиенты</label>
                @for (int i = 0; i < 3; i++)
                {
                    <div>
                        <label asp-for="Ingredients[i].Name" class="control-label">Название</label>
                        <select asp-for="Ingredients[i].IngredientId" class="form-control" asp-items="ViewBag.Ingredients"></select>
                        <label class="control-label">Граммовка</label>
                        <input asp-for="Ingredients[i].G" class="form-control" />
                        <label class="control-label">Объем (в мл.)</label>
                        <input asp-for="Ingredients[i].Ml" class="form-control" />
                        <label class="control-label">Штук</label>
                        <input asp-for="Ingredients[i].Amount" class="form-control" />
                        <input asp-for="Ingredients[i].RecipeId" readonly="readonly" value="@ID" style="display:none" />
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetRecipes">К списку</a> |
    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
